# The easiest  Approach

In [1]:
import pandas as pd 
import numpy as np

In [3]:
train = pd.read_csv("train.csv",index_col="Id")
test = pd.read_csv("test.csv",index_col="Id")
train.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
Id,,,,,,,,,,,,,,,,,,,,,
1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,Female,...,3,0,12,2,11,7,6,7,4,1
2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,Female,...,3,2,7,2,3,2,1,1,2,1
3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,Male,...,3,0,12,3,9,7,7,3,5,1
4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,Male,...,3,0,18,2,7,7,1,7,4,1
5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,Male,...,3,1,10,2,10,7,7,8,1,1

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1628 entries, 1 to 1628
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1628 non-null   int64
 1   Attrition                1628 non-null   int64
 2   BusinessTravel           1628 non-null   object
 3   Department               1628 non-null   object
 4   DistanceFromHome         1628 non-null   int64
 5   Education                1628 non-null   int64
 6   EducationField           1628 non-null   object
 7   EmployeeNumber           1628 non-null   int64
 8   EnvironmentSatisfaction  1628 non-null   int64
 9   Gender                   1628 non-null   object
 10  JobInvolvement           1628 non-null   int64
 11  JobRole                  1628 non-null   object
 12  JobSatisfaction          1628 non-null   int64
 13  MaritalStatus            1628 non-null   object
 14  MonthlyIncome            1628 non-null   int64
 15  NumCompaniesWorked       1628 non-null   int64
 16  OverTime                 1628 non-null   object
 17  PercentSalaryHike        1628 non-null   int64
 18  PerformanceRating        1628 non-null   int64
 19  StockOptionLevel         1628 non-null   int64
 20  TotalWorkingYears        1628 non-null   int64
 21  TrainingTimesLastYear    1628 non-null   int64
 22  YearsAtCompany           1628 non-null   int64
 23  YearsInCurrentRole       1628 non-null   int64
 24  YearsSinceLastPromotion  1628 non-null   int64
 25  YearsWithCurrManager     1628 non-null   int64
 26  CommunicationSkill       1628 non-null   int64
 27  Behaviour                1628 non-null   int64
dtypes: int64(21), object(7)
memory usage: 368.8+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder

def train_cats(train_df, test_df):
    for col in train_df.columns:
        if train_df[col].dtype == 'O' :
            le = LabelEncoder()
            train_df[col] = le.fit_transform(train_df[col])
            test_df[col] = le.transform(test_df[col])
    return train_df, test_df
            
train, test = train_cats(train, test)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1628 entries, 1 to 1628
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1628 non-null   int64
 1   Attrition                1628 non-null   int64
 2   BusinessTravel           1628 non-null   int32
 3   Department               1628 non-null   int32
 4   DistanceFromHome         1628 non-null   int64
 5   Education                1628 non-null   int64
 6   EducationField           1628 non-null   int32
 7   EmployeeNumber           1628 non-null   int64
 8   EnvironmentSatisfaction  1628 non-null   int64
 9   Gender                   1628 non-null   int32
 10  JobInvolvement           1628 non-null   int64
 11  JobRole                  1628 non-null   int32
 12  JobSatisfaction          1628 non-null   int64
 13  MaritalStatus            1628 non-null   int32
 14  MonthlyIncome            1628 non-null   int64
 15  NumCompaniesWorked       1628 non-null   int64
 16  OverTime                 1628 non-null   int32
 17  PercentSalaryHike        1628 non-null   int64
 18  PerformanceRating        1628 non-null   int64
 19  StockOptionLevel         1628 non-null   int64
 20  TotalWorkingYears        1628 non-null   int64
 21  TrainingTimesLastYear    1628 non-null   int64
 22  YearsAtCompany           1628 non-null   int64
 23  YearsInCurrentRole       1628 non-null   int64
 24  YearsSinceLastPromotion  1628 non-null   int64
 25  YearsWithCurrManager     1628 non-null   int64
 26  CommunicationSkill       1628 non-null   int64
 27  Behaviour                1628 non-null   int64
dtypes: int32(7), int64(21)
memory usage: 324.3 KB

In [6]:
X = train.drop(columns="Attrition")
y = train.Attrition
X.shape, y.shape, test.shape

((1628, 27), (1628,), (470, 27))

In [8]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.model_selection import cross_val_score

In [9]:
rfc = RandomForestClassifier(n_estimators=500, n_jobs=-1, random_state=7, min_samples_leaf=5)
cross_val_score(rfc, X, y, cv=5, n_jobs=-1, verbose=1, scoring='roc_auc').mean()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   28.8s finished

0.9944731897206174

# After deleting the duplicate data

In [10]:
train = pd.read_csv("train.csv",index_col="Id")
test = pd.read_csv("test.csv",index_col="Id")
train.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,CommunicationSkill,Behaviour
Id,,,,,,,,,,,,,,,,,,,,,
1,30,0,Non-Travel,Research & Development,2,3,Medical,571,3,Female,...,3,0,12,2,11,7,6,7,4,1
2,36,0,Travel_Rarely,Research & Development,12,4,Life Sciences,1614,3,Female,...,3,2,7,2,3,2,1,1,2,1
3,55,1,Travel_Rarely,Sales,2,1,Medical,842,3,Male,...,3,0,12,3,9,7,7,3,5,1
4,39,0,Travel_Rarely,Research & Development,24,1,Life Sciences,2014,1,Male,...,3,0,18,2,7,7,1,7,4,1
5,37,0,Travel_Rarely,Research & Development,3,3,Other,689,3,Male,...,3,1,10,2,10,7,7,8,1,1

In [11]:
print(f"Number of duplicates in the training data are {train.duplicated().sum()} of {len(train)}, ie {(100* train.duplicated().sum()/len(train)).round(2)} % of data duplicated")
print(f"Number of duplicates in the testing data are {test.duplicated().sum()} of {len(test)}, ie {(100* test.duplicated().sum()/len(test)).round(2)} % of data duplicated")

Number of duplicates in the training data are 628 of 1628, ie 38.57 % of data duplicated
Number of duplicates in the testing data are 0 of 470, ie 0.0 % of data duplicated

In [12]:
train.drop_duplicates(inplace=True)
print(f"Number of duplicates in the training data are {train.duplicated().sum()} of {len(train)}, ie {(100* train.duplicated().sum()/len(train)).round(2)} % of data duplicated")

Number of duplicates in the training data are 0 of 1000, ie 0.0 % of data duplicated

In [13]:
from sklearn.preprocessing import LabelEncoder

def train_cats(train_df, test_df):
    for col in train_df.columns:
        if train_df[col].dtype == 'O' :
            le = LabelEncoder()
            train_df[col] = le.fit_transform(train_df[col])
            test_df[col] = le.transform(test_df[col])
    return train_df, test_df
            
train, test = train_cats(train, test)
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 1 to 1000
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      1000 non-null   int64
 1   Attrition                1000 non-null   int64
 2   BusinessTravel           1000 non-null   int32
 3   Department               1000 non-null   int32
 4   DistanceFromHome         1000 non-null   int64
 5   Education                1000 non-null   int64
 6   EducationField           1000 non-null   int32
 7   EmployeeNumber           1000 non-null   int64
 8   EnvironmentSatisfaction  1000 non-null   int64
 9   Gender                   1000 non-null   int32
 10  JobInvolvement           1000 non-null   int64
 11  JobRole                  1000 non-null   int32
 12  JobSatisfaction          1000 non-null   int64
 13  MaritalStatus            1000 non-null   int32
 14  MonthlyIncome            1000 non-null   int64
 15  NumCompaniesWorked       1000 non-null   int64
 16  OverTime                 1000 non-null   int32
 17  PercentSalaryHike        1000 non-null   int64
 18  PerformanceRating        1000 non-null   int64
 19  StockOptionLevel         1000 non-null   int64
 20  TotalWorkingYears        1000 non-null   int64
 21  TrainingTimesLastYear    1000 non-null   int64
 22  YearsAtCompany           1000 non-null   int64
 23  YearsInCurrentRole       1000 non-null   int64
 24  YearsSinceLastPromotion  1000 non-null   int64
 25  YearsWithCurrManager     1000 non-null   int64
 26  CommunicationSkill       1000 non-null   int64
 27  Behaviour                1000 non-null   int64
dtypes: int32(7), int64(21)
memory usage: 199.2 KB

In [14]:
X = train.drop(columns="Attrition")
y = train.Attrition
X.shape, y.shape, test.shape

((1000, 27), (1000,), (470, 27))

In [15]:
rfc = RandomForestClassifier(n_estimators=500, n_jobs=-1, random_state=7, min_samples_leaf=5)
cross_val_score(rfc, X, y, cv=5, n_jobs=-1, verbose=1, scoring='roc_auc').mean()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    9.5s finished

0.8088344328593244

In [16]:
lgbmc = LGBMClassifier(random_state=7, n_estimators=100, colsample_bytree=0.5, 
                       max_depth=2, learning_rate=0.1, boosting_type='gbdt')
cross_val_score(lgbmc, X, y, cv=5, n_jobs=-1, verbose=1, scoring='roc_auc').mean()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    0.8s finished

0.8472831184272716

In [17]:
xgbc = XGBClassifier(seed=7, n_jobs=-1, n_estimators=100, random_state=7, max_depth=2, learning_rate=0.1)
cross_val_score(xgbc, X, y, cv=5, n_jobs=-1, verbose=1, scoring='roc_auc').mean()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:   16.3s finished

0.8239855658454449

In [18]:
from sklearn.ensemble import VotingClassifier
ensemble = VotingClassifier(estimators=[('rfc', rfc), ('xgbc', xgbc), ('lgbmc', lgbmc)],
                                         voting='soft', n_jobs=-1)
cross_val_score(ensemble, X, y, cv=5, n_jobs=-1, verbose=1, scoring='roc_auc').mean()

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    6.8s finished

0.8366268979676239

In [19]:
ensemble.fit(X, y)
y_pred = ensemble.predict_proba(test)[:, 1]
sub_df = pd.DataFrame({"Id":test.index, "Attrition": y_pred})
sub_df.to_csv("submission.csv", index=False)